@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --light-gray-color: #dadada;
  --gray-color: #555;
  --black-color: #000;
  --orange-color: #f26544;
  --pink-color: #ffd6d6;
}

.dark-theme {
  --white-color: #000;
  --light-gray-color: #dadada;
  --gray-color: #dadada;
  --black-color: #fff;
  --orange-color: #f26544;
  --pink-color: #ffd6d6;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar nav {
  flex: 1;
  text-align: right;
}

ul {
  list-style-type: none;
}

.navbar nav ul {
  display: inline-block;
}

.navbar nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: var(--black-color);
}

a {
  text-decoration: none;
}

.color-p {
  color: var(--black-color);
}

.logo {
  width: 125px;
}

#icon {
  width: 24px;
  cursor: pointer;
  margin-left: 20px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col-2 p {
  color: var(--black-color);
}

.btn {
  display: inline-block;
  background: var(--orange-color);
  color: var(--white-color);
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #c3220d;
}

/* .header {
  background: radial-gradient(var(--primary-color), var(--fourth-color));
} */

.header .row {
  margin-top: 70px;
}

.galeria {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.image {
  margin-top: 50px;
  position: relative;
  width: 300px;
}

.image-img {
  display: block;
  width: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.image-title {
  font-size: 2em;
  font-weight: bold;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  /* border: 1px solid grey; */
}

.col-4 img {
  width: 100%;
}

.col-4 p {
  margin-left: 25px;
  font-size: 16px;
}

.col-4 h4 {
  margin-left: 25px;
  color: var(--black-color);
  font-weight: 300;
  font-size: 16px;
}

.rating {
  margin-left: 25px;
}

.precio {
  font-weight: 500;
}

.titulo {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--black-color);
}

.titulo::after {
  content: "";
  background: var(--orange-color);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.rating .fa-solid {
  color: var(--orange-color);
}

.rating .fa-regular {
  color: var(--orange-color);
}

.col-4:hover {
  transform: translateY(-5px);
}

.oferta {
  /* background: radial-gradient(var(--primary-color), var(--fourth-color)); */
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .oferta-img {
  padding: 50px;
}

small {
  color: var(--black-color);
}

/* Seccion productos.html */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--orange-color);
}

aside {
  padding: 2rem;
  padding-right: 0;
  color: var(--white-color);
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.boton-menu {
  background-color: transparent;
  border: 0;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 1rem;
}

.boton-menu.active {
  background-color: var(--white-color);
  color: var(--orange-color);
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.boton-menu.active::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 1rem 0 var(--white-color);
}

.boton-menu.active::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 -1rem 0 var(--white-color);
}

.boton-carrito {
  margin-top: 2.5rem;
}

.numerito {
  background-color: var(--white-color);
  color: var(--orange-color);
  padding: 0.01rem 0.25rem;
  border-radius: 0.25rem;
}

.footer {
  color: var(--pink-color);
  background-color: var(--orange-color);
  font-size: 0.85rem;
}

main {
  background-color: var(--white-color);
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 2rem;
}

.titulo-principal {
  color: var(--orange-color);
  margin-bottom: 2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalles {
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  border: 0;
  background-color: var(--white-color);
  color: var(--orange-color);
  padding: 0.4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--white-color);
  transition: background-color 0.2s, color 0.2s;
}

.producto-agregar:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
}

/* CARRITO */

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: var(--orange-color);
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-gray-color);
  color: var(--orange-color);
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto small {
  color: var(--orange-color);
}

.carrito-producto-imagen {
  width: 5rem;
  border-radius: 1rem;
}

.carrito-producto-small {
  font-size: 0.75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--orange-color);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--light-gray-color);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--orange-color);
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--light-gray-color);
  padding: 1rem;
  color: var(--orange-color);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--orange-color);
  padding: 1rem;
  color: var(--white-color);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* .disabled {
  display: none;
} */
