@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --light-gray-color: #d1d1d1;
  --middle-gray-color: #828385;
  --gray-color: #555;
  --black-color: #000;
  --orange-color: #f26544;
  --light-orange-color: #f38066;
  --pink-color: #ffd6d6;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar nav {
  flex: 1;
  text-align: right;
}

ul {
  list-style-type: none;
}

.navbar nav ul {
  display: inline-block;
}

.navbar nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: var(--black-color);
}

a {
  text-decoration: none;
}

.color-p {
  color: var(--black-color);
}

.logo {
  width: 125px;
}

#icon {
  width: 24px;
  cursor: pointer;
  margin-left: 20px;
}

.carrito {
  position: relative;
}

.numerito {
  background-color: var(--orange-color);
  color: var(--white-color);
  font-size: 12px;
  font-weight: 900;
  position: absolute;
  top: -12px;
  right: -5px;
  padding: 0px 4px;
  border-radius: 5px;
}

.numerito-index {
  display: none;
}

/* Containers */

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row-uno {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row-dos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col-2 p {
  color: var(--black-color);
}

.btn {
  display: inline-block;
  background: var(--orange-color);
  color: var(--white-color);
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #c3220d;
}

.header .row .row-uno .row-dos {
  margin-top: 70px;
}

.galeria {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  cursor: pointer;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1300px; /* 1080 default */
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.image {
  margin-top: 50px;
  position: relative;
  width: 300px;
}

.image-img {
  display: block;
  width: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.image-title {
  font-size: 2em;
  font-weight: bold;
}

.col-4 {
  flex-basis: 23%; /* 25 default */
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center; /* none default */
}

.col-4 img {
  width: 100%;
}

.col-4 p {
  font-size: 16px;
}

.col-4 h4 {
  color: var(--black-color);
  font-weight: 300;
  font-size: 16px;
}

.rating {
  margin-left: 25px;
}

.precio {
  font-weight: 500;
}

.titulo {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--black-color);
}

.titulo::after {
  content: "";
  background: var(--orange-color);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.rating .fa-solid {
  color: var(--orange-color);
}

.rating .fa-regular {
  color: var(--orange-color);
}

.col-4:hover {
  transform: translateY(-5px);
}

.oferta {
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .oferta-img {
  padding: 50px;
}

small {
  color: var(--black-color);
}

/* Seccion Productos */

.titulo-categorias {
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.producto-precio {
  font-weight: 500;
  margin-top: 0.5rem;
}

.producto-agregar {
  width: 45px;
  border: 0;
  background-color: var(--orange-color);
  border-radius: 50%;
  padding: 7px 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 1rem;
}

.producto-agregar:hover {
  background-color: #c3220d;
}

/* Seccion Carrito */

.contenedor-carrito {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.carrito-vacio {
  font-size: 18px;
  margin-top: 1rem;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
  padding: 0.5rem;
}

.carrito-producto-imagen {
  width: 200px;
  border-radius: 1rem;
}

.carrito-producto-eliminar {
  margin-right: 10px;
  border: 0;
  background-color: transparent;
  color: var(--orange-color);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--light-gray-color);
  color: var(--orange-color);
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--light-gray-color);
  color: var(--orange-color);
  padding: 1rem;
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.disabled {
  display: none;
}

.mi-carrito {
  display: flex;
  justify-content: space-between;
}

.mi-carrito-titulo {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.mi-carrito-cantidad {
  font-size: 16px;
}

.mi-carrito-btn {
  border: 0;
  background-color: var(--light-gray-color);
  color: var(--orange-color);
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.mi-carrito-btn a {
  color: inherit;
}

/* Barra de busqueda */

.barra-busqueda {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.barra-busqueda form {
  width: 25%;
  border: 2px solid var(--orange-color);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.barra-busqueda form input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px;
}

.barra-busqueda form i {
  padding-left: 10px;
}

/* Filtro Despegable */

.dropbtn {
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn i {
  margin-right: 0.5rem;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #c3220d;
}

.dropdown {
  position: fixed;
  display: inline-block;
  margin-left: 0rem;
  margin-top: 11rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Footer */

.footer {
  background: var(--black-color);
  color: var(--white-color);
  font-size: 14px;
  margin-top: 5rem;
}

.footer-col-1 {
  margin-top: 2.5rem;
}

.footer p {
  color: var(--middle-gray-color);
}

.footer h3 {
  color: var(--white-color);
}

.footer a {
  color: var(--middle-gray-color);
  transition: 0.1s;
}

.footer a:hover {
  color: var(--white-color);
}

.dispositivos img {
  width: 140px;
  cursor: pointer;
  margin: 0.5rem 0;
  display: flex;
}

.footer-col-2 img {
  width: 140px;
}

.copy {
  margin-top: 60px;
  text-align: center;
}

/* Sweetalert */

.swal2-styled.swal2-confirm {
  color: var(--white-color) !important;
  background-color: var(--orange-color) !important;
}

.swal2-styled.swal2-cancel {
  color: var(--white-color) !important;
  background-color: var(--orange-color) !important;
}

.swal2-modal .swal2-styled:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
